@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

html, body, .container, .header {
	height: 100%;
}

/* Header */
.header {
	position: relative;
	margin: 0 auto;
	min-height: 560px;
	width: 100%;
    background-color: black
}

.bg-img {
    background: url(../static/images/aboutcube.png) no-repeat center center fixed;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-size: 100% 100%;

	position: absolute !important;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bg-img img {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
    right: 0 !important;
	display: block;
	min-width: 100%;
	min-height: 100%;
}

.title {
	z-index: 1;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.title h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.title p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.title h1,
.title p.subline {
	line-height: 1;
}

.title p.subline {
	font-size: 1.75em;
}

.about-title {
    color: black;
    z-index:-1 !important;
}

/* Trigger Button */
button.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 1;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
	cursor: pointer;
}

.container:not(.notrans) button.trigger {
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
	opacity: 0;
	pointer-events: none;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

button.trigger::before {
	position: absolute;
	bottom: 100%;
	left: -100%;
	padding: 0.8em;
	width: 300%;
	color: #fff;
	content: attr(data-info);
	font-size: 0.35em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

button.trigger:focus {
	outline: none;
}

button.trigger span {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

button.trigger span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Conent */
.content {
	margin: 0 auto;
	padding: 0 0 3em;
}

.content > div:not(.title) {
	margin: -80px auto 0;
	max-width: 900px;
	padding: 0 1.25em;
}

.content > div:not(.title) p {
	margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
	font-size: 1.35em;
}

.content h3 {
	margin: 0;
	font-size: 1.4em;
}

.content blockquote {
	padding: 0.25em;
	font-style: italic;
	font-size: 1.65em;
	font-family: 'Lora', serif;
	line-height: 1.4;
}

.content blockquote::before {
	content: '\201C';
}

.content blockquote::after {
	content: '\201D';
}

/***** Individual effects *****/

/* -------------------------- */
/* Jam 3 */
/* -------------------------- */
.intro-effect-jam3:not(.notrans) .bg-img {
	-webkit-transition-property: top, left, right, bottom;
	transition-property: top, left, right, bottom;
}

.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a {
	-webkit-transition-property: color;
	transition-property: color;
}

.intro-effect-jam3:not(.notrans) .codrops-demos a {
	-webkit-transition-property: border-color, color;
	transition-property: border-color, color;
}

.intro-effect-jam3:not(.notrans) .header p {
	-webkit-transition-property: color, opacity, -webkit-transform;
	transition-property: color, opacity, transform;
}

.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, transform;
}

.intro-effect-jam3:not(.notrans) .bg-img,
.intro-effect-jam3:not(.notrans) .header h1,
.intro-effect-jam3:not(.notrans) .codrops-top a,
.intro-effect-jam3:not(.notrans) .codrops-demos a,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.intro-effect-jam3:not(.notrans) .header p,
.intro-effect-jam3:not(.notrans) .header p.subline,
.intro-effect-jam3:not(.notrans) .content > div {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.intro-effect-jam3.modify:not(.notrans) .header p,
.intro-effect-jam3.modify:not(.notrans) .header p.subline,
.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.intro-effect-jam3 .codrops-demos a {
	color: #fff;
}

.intro-effect-jam3 .codrops-demos a.current-demo {
	border-color: #fff;
}

.intro-effect-jam3.modify .codrops-demos a {
	color: #c03b5d;
}

.intro-effect-jam3.modify .codrops-demos a.current-demo {
	border-color: #c03b5d;
}

.intro-effect-jam3.container {
	padding: 45px 30px;
}

.intro-effect-jam3 .bg-img {
	top: -45px;
	right: -30px;
	bottom: -45px;
	left: -30px;
	background: #514753;
}

.intro-effect-jam3.modify .bg-img {
	top: 0;
	right: 0;
	bottom: 85%;
	left: 0;
}

.intro-effect-jam3.modify .header h1 {
	color: #514753;
}

.intro-effect-jam3 .header p {
	color: #514753;
	opacity: 0;
	-webkit-transform: translateY(150px);
	transform: translateY(150px);
}

.intro-effect-jam3.modify .header p {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-jam3 .content {
	padding: 0 5em 5em;
}

.intro-effect-jam3 .header,
.intro-effect-jam3 .content {
	background: #fff;
}

.intro-effect-jam3 .content > div {
	opacity: 0;
	-webkit-transform: translateY(150px);
	transform: translateY(150px);
}

.intro-effect-jam3.modify .content > div {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.intro-effect-jam3.modify .codrops-top a {
	color: #514753;
}

/* Delays */
.intro-effect-jam3.modify:not(.notrans) .header p:nth-last-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.intro-effect-jam3.modify:not(.notrans) .header p:last-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.intro-effect-jam3.modify:not(.notrans) .content > div {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}