@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Raleway);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300);
* {
  box-sizing: border-box;
}

.white{
  color: white !important;
}

.card {
  width: 90%;
  max-width: 600px;
  margin: 20px auto 10px auto;
  background-color: #fff;
  color: #444;
  overflow: hidden;
}
.card h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  background-color: #56a0d3;
  animation: fadein 1.2s;
  color: #fff;
}
.card img {
  float: left;
  width: auto;
  height: 20%;
  margin: 20px;
  position: relative;
  z-index: 1;
  animation: grow 0.6s;
}
.card .bio {
  position: relative;
  margin: 20px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  animation: slidein 1.2s;
}

@keyframes fadein {
  from {
    color: transparent;
  }
  to {
    color: white;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    left: -240px;
  }
  to {
    left: 0;
  }
}
.comment {
  font-family: Merriweather Sans;
  font-size: 12px;
  color: #ddd;
  text-align: center;
}
