{% block css %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/companies.css') }}"> {% endblock %}
<!--html-->
{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
  <h1 class="white">NOTABLE STARTUPS & ALUMNI</h1>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class='card'>
        <h1>Tatiana Birgisson</h1>
        <img src='/static/images/tatiana.jpg'>
        <p class='bio'>
          Tatiana founded <a href="https://www.matienergy.com/">MATI Energy</a>, a healthy energy drink company. She has been featured in CNN, Forbes, ABS news and USA today. She is on Inc 30 under 30 list of 2016 and Forbes 30 under 30 Food & Drink list
          of 2017.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class='card'>
        <h1>Josh Miller</h1>
        <img src='/static/images/joshmiller.jpg'>
        <p class='bio'>
          Josh Miller founded <a href="http://farmshots.com/">Farmshots</a>, a company that analyzes satellite imagery of farms to provide aitomated pest and disease detection for farmers.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class='card'>
        <h1>Kasper Kubica, David Spratte</h1>
        <img src='/static/images/carpe.jpg'>
        <p class='bio'>
          Kasber Kubica and David Spratte founded <a href="https://www.carpelotion.com">Carpe Lotion</a>, a company that creates antiperspirant hand lotion.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class='card'>
        <h1>Arun Karottu</h1>
        <img src='/static/images/arun.jpg'>
        <p class='bio'>
          Arun Karottu cofounded <a href="http://www.smartmetalsrecycling.com">Smart Metals Recycling</a>, a company that uses technology to streamline e-waste recycling and mine customer data for insights.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class='card'>
        <h1>Sid Kandan</h1>
        <img src='/static/images/sid.png'>
        <p class='bio'>
          Sid Kandan founded <a href="http://www.stel.life/">Stel</a>, a company that produces IoT devices that automate manual data collection processes to help hospitals provide quality care.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--javascripts-->
{% block scripts %} {% endblock %}
<!--
Kasper Kubica, David Spratte Carpe Lotion

Daniel Chander Vigor Medical Systems

 Arun Karottu Smart metals recycling

Ben Schwab SMSmart-->
