<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Duke Cube</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
</head>

<body>
    <div class="open">
        <span class="cls"></span>
        <span>
        <ul class="sub-menu ">
            <li>
                <a href="/" title="home">Home</a>
            </li>
            <li>
                <a href="/about" title="about">About</a>
            </li>
            <li>
                <a href="/apply" title="skills">Apply</a>
            </li>

        </ul>
    </span>
        <span class="cls"></span>
    </div>
    {% block body %}{% endblock %}
    <footer>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/three.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/jquery.min.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='plugins/bootstrap.min.js') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>
